# General configuration
run:
  project_name: "db18f762cd938665293cca9a212d27f7"
  out_dir: "outputs/eval_results"
  device: cuda
  report_to: "outputs/eval_results/wandb"
  run_id: custom-eval
  log_images: false

# Model configuration
model:
  name: "/Data_PHD/phd23_weiguang_zhang/project/weights/models--starvector--starvector-1b-im2svg/snapshots/380ab95d25a8e9ab1dc825debe238b4953ae13b9" 
  from_checkpoint: "outputs/starvector/svg-stack/starvector-1b-im2svg-4096-Data_PHD-bb17f5e5be8d084e2d618ae2cada4197/checkpoint-12000"
  # "outputs/starvector/svg-stack/starvector-1b-im2svg-4096-Data_PHD-db18f762cd938665293cca9a212d27f7/checkpoint-4500" 
  # "/Data_PHD/phd23_weiguang_zhang/project/weights/models--starvector--starvector-1b-im2svg/snapshots/380ab95d25a8e9ab1dc825debe238b4953ae13b9" 

  generation_engine: "hf"
  task: im2svg
  torch_dtype: float16
  # image_processor: clip # is this needed?

# Dataset configuration
dataset:
  dataset_name: /Data_PHD/phd23_weiguang_zhang/project/svg_data/zhuan-stack-hf-1-8 
  # svg-stack-hf-1-8 
  # zhuan-stack-hf-1-8
  # /Data_PHD/phd23_weiguang_zhang/project/svg_data/datasets--starvector--svg-stack/snapshots/1d922ec145f5ab6e3ff0e874235aff0d8a9dec91  # Required: Name of the dataset to evaluate on
  config_name: null # in bigodcs set Image2SVG
  split: test
  batch_size: 4
  num_workers: 4
  im_size: 224
  num_samples: 8

# vllm https://docs.vllm.ai/en/v0.5.5/dev/sampling_params.html
# hf https://huggingface.co/docs/transformers/main_classes/text_generation
generation_params:
  # Text generation parameters
  max_length: 8192
  min_length: 10
  num_beams: 1
  temperature: 0.2
  generation_sweep: false # Controls multi-temperature sampling, rank based sampling
    # num_generations_different_temp: 1
    # min_temperature: 0.0
    # max_temperature: 0.5
  num_captions: 1
  repetition_penalty: 1.0
  length_penalty: 1.0
  presence_penalty: 0.0 # only used in vllm 
  frequency_penalty: 0.0
  top_p: 0.95
  do_sample: true # turn this off for greedy decoding
  use_nucleus_sampling: true
  logit_bias: 5 # if this is not false, the model will be biased to the svg_end_token_id
  stream: false


